.telia-link,
.telia-link:visited {
    display: inline-flex;
    padding: 4px 5px;
    margin-bottom: 5px;
    background-color: #990ae3;
    color: #fff !important;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.telia-link:hover,
.telia-link:focus {
    background-color: #b249f4 !important;
    color: #fff !important;
    text-decoration: none !important;
}

.telia-link__btn {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
